body {
    font-family: 'Poppins', sans-serif;
    background-color:white;
    padding: 0;
    margin: 0;
}

.header {
  background-image: url(../public/img/headerBackground.jpeg);
  background-size: cover;
  padding: 50px;
  color: white;
  font-size: 5vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.header-left-container {
  flex: 1;
  text-align: left;
}

.header-title {
  margin: 0; 
}

.form-group {
  display: flex;
  justify-content: left;
  align-items: left;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 600px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 3vh;
}

.search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff5733;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  width: 150px;
  height: 80px;
  font-size: 3vh;
  margin-bottom: 20px;
}

.categories-container {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.category-button {
  margin: 10px;
}

.category-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}




.product-list {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 16px; 
    margin: 16px; 
  }

  .product-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: #efefef;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s ease, box-shadow 0.5s ease;  
    transform: translateY(10px);
    opacity: 1; 
}

.product-item:hover {
    transform: translateY(0); 
    opacity: 1; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}


.product-item.show {
    transform: translateY(0); 
    opacity: 1; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
  
  .product-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .product-item img {
    width: 200px;
    height: 200px; 
    border-radius: 4px; 
  }
  
  .product-item h2 {
    font-size: 1.5em;
    margin: 10px 0; 
  }
  
  .product-item p {
    font-size: 2em;
    color: #fd0303; 
    margin: 10px 0;
  }

  h1, h2, .product-item h2, .modal-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}
  
  .product-item button {
    padding: 10px 15px; 
    background-color: #fd0303; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    font-size: 1.2em; 
    transition: background-color 0.3s ease; 
    margin:20px;
    height: 15%;
    font-weight: bold;
  }
  
  .product-item button:hover {
    background-color: #520101;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin: 10px 0; 
    height: 100px;
}

.item-details {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.item-details img {
    width: 80px;
    height: auto;
    margin-right: 10px; 
}

.item-details p {
    margin: 0 10px;
    font-size:2.2vh;
    color: black; 
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.modal-content {
    background-color: white; 
    padding: 20px; 
    margin: 5% 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: auto;
}

.modal-title {
    text-align: center; 
    margin-bottom: 50px; 
    font-size:3vh;
}

.modal-details-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.modal-image {
    width:250px;
    height: 350px;
    margin-right: 50px; 
}

.modal-details {
    display: flex;
    flex-direction: column;
}

.modal-price {
    font-weight: bold;
    margin: 5px 0;
    font-size: 5vh;
    color:#fd0303
}

.modal-rating {
    margin: 5px 0; 
    margin-left: 50px;
}

.modal-description {
    margin-top: 20px; 
    clear: both; 
}

.modal-description {
    text-align: center;
    font-size: 2.3vh; 
    line-height: 1.4; 
}

.close-button {
    color: #aaa;
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}

.close-button:hover,
.close-button:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer;
}

.full-star{
    width: 80px;
    height:80px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.empty-star{
    width: 120px;
    height:120px;
    margin:0;
}

.half-star{
    width: 50px;
    height:80px;
    margin-bottom: 25px;
}

.empty-cart {
    display: flex;
    align-items: center; 
    margin-top: 20px;
    margin-left: 92%;
    margin-bottom: 200px;
    background-color: red;
    width: 140px;
    height: 100px;
    position: fixed;
    border-radius: 50%;
    z-index: 1000;
  }
  
  .cart-image {
    width: 70px; 
    height: auto; 
    margin-right: 10px;
  }
  
  .total-items {
    font-size: 24px; 
    color: white;
    margin-left: 10px;
  }

  .cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .cart-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .cart-modal-content {
    background-color: white; 
    padding: 20px;
    border-radius: 8px;
    max-width: 800px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 110px auto;
  }
  
  .cart-image {
    cursor: pointer; 
  }

  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .cart-item h3 {
    margin: 0; 
    font-size: 1.2em; 
    color: #333; 
  }
  
  
  .item-details {
    flex-grow: 1; 
    margin: 0 15px; 
  }
  
  
  .item-details img {
    max-width: 80px; 
    max-height: 80px; 
    border-radius: 5px; 
    object-fit: cover; 
  }
  
  .cart-item button {
    background-color: #fd0303; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 8px 12px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    height:80px;
    font-size: 2vh;
  }
  
  
  .cart-item button:hover {
    background-color: #520101;
  }

  .quantity-container {
    display: flex;
    align-items: center;
    margin: 0 15px; 
  }
  

  .quantity-button {
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
    margin: 0 5px;
  }
  
  .quantity-display {
    font-size: 1.2em; 
    color: #333; 
    margin: 0 10px; 
  }

  .total{
    font-size: 4vh;
    text-align:center;
    color: #fd0303;
  }

  @media (max-width: 1768px) {
    .header {
      flex-direction: column;
      height: auto; 
      padding: 20px;
      background-image: none;
      background-color: #fd0303;
  }

  .header-title {
      font-size: 5vh;
      text-align: center;
      margin-bottom: 20px;
  }


  .search-input {
      width: 100%; 
      height: 50%;
  }

  .search-button {
      height: 50%; 
  }

  .categories-container {
      flex-wrap: wrap; 
      justify-content: center; 
  }

  .category-image {
      width: 100px; 
      height: 100px;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr); 
  }

  .product-item button {
    height: 8%;
  }

  .empty-cart {
    margin-left: 88%;
  }
}

  @media (max-width: 880px) {
    .header {
        flex-direction: column;
        height: auto; 
        padding: 20px;
        background-image: none;
        background-color: #fd0303;
    }

    .header-title {
        font-size: 5vh;
        text-align: center;
        margin-bottom: 20px;
    }
  
  
    .search-input {
        width: 100%; 
        height: 50%;
    }

    .search-button {
        height: 50%; 
    }
  
    .categories-container {
        flex-wrap: wrap; 
        justify-content: center; 
    }
  
    .category-image {
        width: 100px; 
        height: 100px;
    }

    .product-list {
      grid-template-columns: repeat(2, 1fr); 
    }

    .product-item button {
      height: 8%;
    }

    .empty-cart {
      margin-left: 83%;
    }

    .modal-details-container {
      flex-direction: column; 
      align-items: center; 
      text-align: center;
  }

  .modal-image {
      width: 100px; 
      height: 100px; 
      margin: 0 0 20px 0; 
  }

  .modal-details {
      width: 100%; 
  }

  .modal-price, .modal-rating, .modal-description {
      margin: 10px 0; 
      font-size: 3vh;
  }
  }

  @media (max-width: 480px) {
    .header {
        flex-direction: column;
        height: auto; 
        padding: 20px;
        background-image: none;
        background-color: #fd0303;
    }

    .header-title {
        font-size: 5vh;
        text-align: center;
        margin-bottom: 20px;
    }
  
  
    .search-input {
        width: 100%; 
        height: 50%;
    }

    .search-button {
        height: 50%; 
    }
  
    .categories-container {
        flex-wrap: wrap;
        justify-content: center; 
    }
  
    .category-image {
        width: 100px;
        height: 100px;
    }

    .product-list {
      grid-template-columns: repeat(1, 1fr); 
    }

    .product-item button {
      height: 8%;
    }

    .empty-cart {
      margin-left: 80%;
      width: 60px;
      height: 60px;
    }

    .cart-image{
      width: 30px;
      height: 30px;
      margin-left: 2px;
      margin-right: 0;
    }

  .total-items{
    font-size: 18px;
  }

    .modal-details-container {
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
  }

  .modal-image {
      width: 100px; 
      height: 100px; 
      margin: 0 0 20px 0; 
  }

  .modal-details {
      width: 100%; 
  }

  .modal-price, .modal-rating, .modal-description {
      margin: 10px 0; 
      font-size: 3vh; 
  }

  .item-details p {
    display: none;
}

.cart-item h3 {
 font-size:2vh;
}

.cart-item button {
  height:30px;
}

.cart-item img{
  width:30px;
  height: 30px;
}

.full-star{
  width: 20px;
  height:20px;
  margin-bottom: 25px;
  margin-right: 10px;
}

.empty-star{
  width: 30px;
  height:30px;
  margin-bottom:20px;
  margin-left: 5px;
}

.half-star{
  width: 10px;
  height:20px;
  margin-bottom: 25px;
}

.modal-description{
  font-size: 1.5vh;
}


  }
